<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="..\styles\file2pedidos.css">
</head>

<body>
    <div align="center">
        <img src="..\assets\img\Logo-pasteleriav2.png" alt="pasteleria" width="240" height="120">
    </div>

    <header>

        <nav>
            <ul>
                <li><a href="..\index.html">Home</a></li>
                <li><a href="pedidos.html">Pedidos</a></li>
                <li><a href="pastelero.html">Pastelero</a></li>
            </ul>
        </nav>
    </header>

    <section class="seccion-pedidos">
        <h2>Información de pedido</h2>
        <form action="/accion.js" id="form1" method="post">
            <!-- <label for="nombre">Nombre completo:</label>
            <input type="text" id="nombre" name="nombre"><br>

            <label for="nombre">Teléfono:</label>
            <input type="text" id="nombre" name="nombre"><br>

            <label for="nombre">Correo electrónico:</label>
            <input type="text" id="nombre" name="nombre"><br>

            <label for="nombre">Descripción del pastel</label>
            <input type="text" id="descripcion" name="descripcion"><br>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre"><br><br> -->
            <table>
                <tr>
                    <td><label for="nombre">Nombre completo:</label></td>
                    <td><input type="text" id="nombre" name="nombre"></td>
                </tr>
                <tr>
                    <td><label for="nombre">Teléfono:</label></td>
                    <td><input type="text" id="nombre" name="nombre"></td>
                </tr>
                <tr>
                    <td><label for="nombre">Correo electrónico:</label></td>
                    <td><input type="text" id="nombre" name="nombre"></td>
                </tr>
                <tr>
                    <td><label for="nombre">Descripción del pastel</label></td>
                    <td><input type="text" id="descripcion" name="descripcion"></td>
                </tr>
                <tr>
                    <td><label for="nombre">Nombre:</label></td>
                    <td><input type="text" id="nombre" name="nombre"></td>
                </tr>
            </table>
            <br><br>

            <h2>Sabores de pasteles</h2>
            <table>
                <tr>
                    <td><label for="pasteles">Elige tu sabor</label></td>
                    <td>
                        <select id="pastel" name="pastel">
                            <option value="crepe-cake">CREPE CAKE CONEJITOS ($360.00)</option>
                            <option value="cookies-cream">COOKIES AND CREAM ($330.00)</option>
                            <option value="irlandes">PASTEL IRLANDES ($330.00)</option>
                            <option value="tres-leches-fresa">PASTEL 3 LECHES DE FRESA ($330.00)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="combinar">Sabor a combinar con</label></td>
                    <td>
                        <select id="pastel" name="pastel">
                            <option value="sin-combinar">sin combinar</option>
                            <option value="crepe-cake">CREPE CAKE CONEJITOS ($360.00)</option>
                            <option value="cookies-cream">COOKIES AND CREAM ($330.00)</option>
                            <option value="irlandes">PASTEL IRLANDES ($330.00)</option>
                            <option value="tres-leches-fresa">PASTEL 3 LECHES DE FRESA ($330.00)</option>
                        </select>
                    </td>
                </tr>
            </table>

            <br><br>
            <h2>Adornos de pasteles</h2>
            <table>
                <tr>
                    <td><label for="adornos">Adorno para el pastel</label></td>
                    <td>
                        <select name="adorno" id="adorno">
                            <option value="figura">Con figura</option>
                            <option value="nombre">Nombre</option>
                            <option value="chantilli">Chantilli</option>
                            <option value="velas">Velas</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="adornos">Adorno para combinar</label></td>
                    <td>
                        <select name="adorno-combinar" id="adorno-combinar">
                            <option value="sin-combinar">sin combinar</option>
                            <option value="figura">Con figura</option>
                            <option value="nombre">Nombre</option>
                            <option value="chantilli">Chantilli</option>
                            <option value="velas">Velas</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <!-- <table>
                <tr> -->
            <td><input type="submit" value="Submit"></td>
            <td><input type="reset"></td>
            <!-- </tr>
            </table> -->
        </form>

    </section>

    <footer>
        <p>
            Todos los derechos reservados 2022
        </p>
    </footer>

</body>

</html>