@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600;700&family=Rock+Salt&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

header{
    padding: 10px 30px;
}


a{
    text-decoration: none;
    font-family: 'Advent Pro', sans-serif;
    
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    background-color: bisque;
    padding: 10px 0px;
}

body{
    background-image: url(https://imgs.search.brave.com/xZzg9qjPwT7W8VEjZpXpoUtWjzRkjG2q4AcUfdp5tzc/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9waXhu/aW8uY29tL2ZyZWUt/aW1hZ2VzLzIwMjEv/MDIvMTYvMjAyMS0w/Mi0xNi0wOS00OS0w/MC0xODAweDEyMDAu/anBn);
    opacity: 0.95;
}

.interaccion{
    padding: 30px;
    text-align: center;
}

.pedido{
    background-color: bisque;
    padding: 30px;
    align-content: center;
    
}

.contacto{
    
    height: 200px;
    padding: 30px;
    background-color: bisque;
}

.seccion-pedidos, .pastelero{
    padding: 30px; 
    background-color: bisque;
}